@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
}

:root {
    --box-width: 40px;
    --box-height: 60px;

    --boxes-cols: 14;
    --boxes-width: calc(var(--box-width) * var(--boxes-cols));
}

.wheelfortune {
    background-color: #999;
    width: var(--boxes-width);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.wheelfortune .boxes {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--boxes-cols), var(--box-width));
    grid-template-rows: repeat(4, var(--box-height));
}

.wheelfortune .boxes .box {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.8);
    /* gestion effet de retournement */
    transform-style: preserve-3d;
    transition: transform 300ms ease-out;
}

.wheelfortune .boxes .box:before,
.wheelfortune .boxes .box:after {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 300ms ease-in 300ms;
}

.wheelfortune .boxes .box[data-letter]:before,
.wheelfortune .boxes .box[data-letter]:after {
    opacity: 1;
}

.wheelfortune .boxes .box:before {
    content: "";
    background-image: linear-gradient(-45deg, #999, #ccc);
}

.wheelfortune .boxes .box:after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-letter);
    background-image: linear-gradient(45deg, #ccc, #fff);
    backface-visibility: hidden;
}

.wheelfortune .boxes .box:not([data-letter]) {
    background-image: linear-gradient(45deg, #666, #888);
}
.wheelfortune .boxes .box:not([data-letter]):after {
    background-image: linear-gradient(45deg, #888, #666);
}

.wheelfortune .boxes .box[data-letter]:not(.active) {
    transform: rotateY(180deg);
}

/* Premier élément décalé */
.wheelfortune .boxes .box:nth-child(1) {
    grid-column-start: 2;
}

/* 2e rangée : éléments 13 à 26 = 14 cases */
.wheelfortune .boxes .box:nth-child(n+13):nth-child(-n+26) {
    grid-row: 2;
}

/* 3e rangée : éléments 27 à 40 = 14 cases */
.wheelfortune .boxes .box:nth-child(n+27):nth-child(-n+40) {
    grid-row: 3;
}

/* Décalage 4e rangée */
.wheelfortune .boxes .box:nth-child(41) {
    grid-column-start: 2;
}

.wheelfortune .alphabet {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(13, 1fr);
}

.wheelfortune .scoring {
    background-color: #666;
    color: #fff;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 10px;
    padding: 10px 0;
    text-align: center;
}

.wheelfortune .scoring .result {
    grid-area: 1 / 1 / 2 / 3;
}

.wheelfortune .scoring .solution {
    grid-area: 2 / 1 / 3 / 2;
}

.wheelfortune .scoring .reset {
    grid-area: 2 / 2 / 3 / 3;
}